@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FK Grotesk Neue";
  src: url("/fk-grotesk-neue-font-family-1714695107-0[1]/FKGroteskNeueTrial-Black-BF6576818b4c472.otf")
    format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "FK Grotesk Neue";
  src: url("/fk-grotesk-neue-font-family-1714695107-0[1]/FKGroteskNeueTrial-Bold-BF6576818bd3700.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "FK Grotesk Neue";
  src: url("/fk-grotesk-neue-font-family-1714695107-0[1]/FKGroteskNeueTrial-Medium-BF6576818c3a00a.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "FK Grotesk Neue";
  src: url("/fk-grotesk-neue-font-family-1714695107-0[1]/FKGroteskNeueTrial-Regular-BF6576818c3af74.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FK Grotesk Neue";
  src: url("/fk-grotesk-neue-font-family-1714695107-0[1]/FKGroteskNeueTrial-Light-BF6576818c0f3e8.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "FK Grotesk Neue";
  src: url("/fk-grotesk-neue-font-family-1714695107-0[1]/FKGroteskNeueTrial-Italic-BF6576818c041e2.otf")
    format("opentype");
  font-weight: 400;
  font-style: italic;
}

/* Define additional font styles as needed */

body {
  font-family: "FK Grotesk Neue", sans-serif; /* Use your font */
  background-image: url("../../assets/Background.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  display: none;
}
/* ::-webkit-scrollbar-thumb {
  display: none;
} */

.slick-p rev,
.slick-next {
  background-color: rgba(70, 186, 60, 1) !important;
  border-radius: 50%;
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; /* Ensure arrows are above other elements */
}

.slick-prev:before,
.slick-next:before {
  color: black !important; /* Change arrow color */
}

.arrow-button {
  background-color: rgba(70, 186, 60, 1);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
  border: none; /* Remove default button border */
}

.sponsor-carousel {
  animation: scroll 15s linear infinite; /* Adjust timing for speed */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); /* Adjust as necessary for the total width */
  }
}

.overflow-hidden {
  overflow: hidden; /* Hide overflow to maintain carousel effect */
}
.custom-border:hover {
  border: transparent;
  border-image-source: linear-gradient(90deg, #46ba3c 0%, #84de7c 100%);
  border-image-slice: 1;
  box-shadow: 0 0 4px #84de7c, 0 0 8px #46ba3c, 0 0 12px #46ba3c, 0 0 8px;
  transition: all 0.5s ease;
}

/* styles.css or your global CSS file */
.sponsor-carousel {
  animation: scroll 5s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Adjust this based on how many items you have */
  }
}
/* @keyframes appear {
  from {
      opacity: 0;
      transform: scale(0.5);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}

.smooth-scroll{
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
} */